header,
nav,
main,
footer {
        max-width: 1200px;
        margin: auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
#members{
        
}
main {
        .card{
               width: 23%; 
        }
}


/*----------- FOOTER --------------*/